@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Flávio, Deus é bom demais!!!</p>
    <p>Vamos construir o melhor sistema de Captação de Recursos!!!</p>
</div>
